.container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,253,160,1) 69%, rgba(252,176,69,1) 100%);
font-family: 'Times New Roman', Times, serif
color= white;
}
